.ActionGroup{
	display: flex;
	justify-content: center;
}
.ActionGroup__title{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}
.ActionGroup__actions{
	display: flex;
	flex: 1;
	margin-right: 1em;
}