.Main{
	display: flex;
    flex-direction: column;
    margin: 1em;
    min-width: 375px;
    min-height: 80vh;
    
    .Main-list{
    	padding: 1em;
    }

    .Main-bottom {
    	display: flex;
    	justify-content: center;
    	display: flex;
    }

    .Main-btn-generate{
    	margin: 1em;
    }
}